[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pydantic-settings = "*"
celery = "*"
openai = "*"
alembic = "*"
httpx = "*"
backoff = "*"
redis = "*"
psycopg2 = "*"

[dev-packages]
black = "*"
pytest = "*"
flower = "*"

[requires]
python_version = "3.12"
